@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Allura');
@import url('https://fonts.googleapis.com/css?family=Playwrite+DE+Grund');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
@import url('https://fonts.googleapis.com/css?family=Jura');

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #171717;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  width: 95vmin;
  height: 95vmin;
  border-radius: 50%;
  border: none;
  background-color: #1f1f1f;
  box-shadow: 0 0 50px #ffd700;
  -webkit-animation: animate-border 5s linear infinite;
          animation: animate-border 5s linear infinite;
}

@-webkit-keyframes animate-border {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animate-border {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.question {
  margin: 0 auto 2.8rem;
  font-family: "Inconsolata";
  font-size: 2.2em;
  color: #f9f8f5;
  filter: drop-shadow(0 0 50px #ffd700);
}

input[type="datetime-local"] {
  margin: 0 auto 2rem;
  min-width: 160px;
  min-height: 20px;
  background-color: transparent;
  color: #f9f8f5;
  border: 2px solid #f9f8f5;
  border-radius: 50px;
  box-shadow: 0 0 30px #ffd700;
  padding: 0.6rem;
  font-family: "Inconsolata";
  font-size: 1.4em;
  font-weight: bold;
}
  
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

button {
  margin: 0 auto;
  font-size: 2.4rem;
  font-family: "Inconsolata";
  font-weight: bold;
  filter: drop-shadow(0 0 50px #ffd700);
  background-color: transparent;
  color: #f9f8f5;
  border: none;
  cursor: pointer;
  animation: blink 3s infinite;
}

button:disabled {
  cursor: not-allowed;
  color: transparent;
  animation: none;
}
  
button:enabled {
  color: #f9f8f5;
}
  
@keyframes blink {
  0%, 50% { opacity: 1; }
  60% { opacity: 0.5; }
  80%, 90% { opacity: 0; }
  95% { opacity: 0.75; }
  100% { opacity: 1; }
}

.time {
  font-family: "Jura";
  font-family: "Playwrite DE Grund";
  font-family: "Chakra Petch";
  font-size: 3.4em;
  line-height: 9rem;
  color: #171717;
}

.time-bigger {
  font-size: 1.6em;
}

.quote {
  font-family: "Allura";
  font-size: 1.2em;
}

#up-arrow, #down-arrow {
  cursor: pointer;
  font-size: 6em;
  text-align: center;
  font-weight: bold;
}
  
#cog {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
  
#back-button {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
  
#list {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
    .question {
      margin: 0 auto 3rem;
      font-size: 2.1em;
    }
  
    input[type="datetime-local"] {
      margin: 0 auto 2rem;
      padding: 0.8rem;
      font-size: 1.5em;
    }
  
    button {
      margin: 0 auto 3rem;
      font-size: 2.1rem;
    }
  
    .time {
      font-size: 3em;
      line-height: 8rem;
    }
    
    .time-bigger {
      font-size: 1.8em;
    }

    .quote {
      font-size: 1em;
    }
  
    #up-arrow, #down-arrow {
      font-size: 4.6em;
    }
  
    #cog, #list {
      width: 30px;
      height: 30px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .question {
      margin: 2em auto 1.6rem;
      font-size: 1.2em;
      line-height: 1.6rem;
    }

    .mobile-break::after {
      content: "";
      display: block;
    }
  
    input[type="datetime-local"] {
      margin: 0 auto 1.6rem;
      padding: 0.6rem;
      font-size: 1em;
    }
  
    button {
      margin: 0 auto 3rem;
      font-size: 1.4rem;
    }
  
    .time {
      font-size: 1.8em;
      line-height: 4.8rem;
    }
    
    .time-bigger {
      font-size: 1.4em;
    }

    .quote {
      font-size: 1em;
    }
  
    #up-arrow, #down-arrow {
      font-size: 3em;
      font-weight: normal;
    }
  
    #cog, #list {
      width: 25px;
      height: 25px;
    }
  }