body {
    margin: 0;
    font-family: 'Courier New', monospace;
}

.box {
    width: 100%;
    box-sizing: border-box;
}

.footer {
    text-align: end;
    padding: 1vw;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer a {
    text-decoration: none;
}

/*month styles*/
/*january*/
body.january {
    background-color: #ccdde8;
}
.box.january {
    color: #178fd6;
    border-bottom: 1px solid #edece8;
}
.footer.january {
    background-color: #034488;
}
.footer.january a {
    color: #fffcf6;
}
.footer.january a:hover {
    text-decoration: underline;
}

/*february*/
body.february {
    background-color: #0D0208;
}
.box.february {
    color: #00FF41;
    border-bottom: 1px solid #003B00;
}
.footer.february {
    background-color: #0D0208;
}
.footer.february a {
    color: #00FF41;
}
.footer.february a:hover {
    color: #fffcf6;;
}

/*color palettes*/
/*santorini
#034488
#178fd6
#ccdde8
#edece8
#fffcf6
*/
/*matrix
#0D0208
#003B00
#008F11
#00FF41
*/