body {
    margin: 0;
    font-family: 'Courier New', monospace;
}

a {
    text-decoration: none;
}

.box {
    width: 100%;
    height: 10vh;
    font-size: 1.1em;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.footer {
    width: 100%;
    height: 10vh;
    font-size: 1.4em;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    justify-content: flex-end;
}

@media only screen and (max-width: 1023px) {
    .box {
        height: 9vh;
        font-size: 0.8em;
        padding: 1rem;
    }

    .footer{
        height: 8vh;
        font-size: 1.2em;
        padding: 0.8rem;
    }
}

@media only screen and (max-width: 767px) {
    .box {
        height: 7vh;
        font-size: 0.6em;
        padding: 0.5rem;
    }

    .footer{
        height: 7vh;
        font-size: 1em;
        padding: 0.7rem;
    }
}

/*month styles*/
/*january*/
body.january {
    background-color: #ccdde8;
}
.box.january {
    border-bottom: 1px solid #edece8;
}
.box.january a{
    color: #178fd6;
}
.footer.january {
    background-color: #034488;
}
.footer.january a {
    color: #fffcf6;
}
.footer.january a:hover {
    text-decoration: underline;
}

/*february*/
body.february {
    background-color: #0D0208;
}
.box.february {
    color: #00FF41;
    border-bottom: 1px solid #003B00;
}
.footer.february {
    background-color: #0D0208;
}
.february a {
    color: #00FF41;
}
.february a:hover {
    color: #fffcf6;
}
.box.february:hover {
    background-color: #003B00;
}

/*color palettes*/
/*santorini
#034488
#178fd6
#ccdde8
#edece8
#fffcf6
*/
/*matrix
#0D0208
#003B00
#008F11
#00FF41
*/