@import url('https://fonts.googleapis.com/css?family=Matemasie');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Rubik+Bubbles');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Playwrite+AT');
@import url('https://fonts.googleapis.com/css?family=Autour+One');
@import url('https://fonts.googleapis.com/css?family=Tomorrow');
@import url('https://fonts.googleapis.com/css?family=MuseoModerno');
@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Notable');

body.january {
    font-family: "Shadows Into Light";
}

body.february {
    font-family: "Tomorrow";
}

body.march {
    font-family: "Caveat";
}

body.april {
    font-family: "Kaushan Script";
}

body.may {
    font-family: "Oleo Script";
}

body.june {
    font-family: "Playwrite AT";
}

body.july {
    font-family: "Coiny";
}

body.august {
    font-family: "Notable";
}

body.september {
    font-family: "MuseoModerno";
}

body.october {
    font-family: "Autour One";
}

body.november {
    font-family: "Matemasie";
}

body.december {
    font-family: "Rubik Bubbles";
}

a {
    text-decoration: none;
}

/*january, black*/
body.january {
    background-color: #91A3B0;
}
.box.january {
    background-image: linear-gradient(#708090, #91A3B0);
}
.box.january:hover {
    background-image: none;
    background-color: #36454F;
}
.box.january {
    color: #36454F;
}
.footer.january {
    background-color: #36454F;
}
.box.january:hover {
    color: #8C92AC;
}
.footer.january a {
    color: #8C92AC;
}
.footer.january a:hover {
    text-decoration: underline;
}

/*february, white*/
body.february {
    background-color: #A4DDED;
}
.box.february {
    background-image: linear-gradient(#FFFAFA, #A4DDED);
}
.box.february:hover {
    background-image: none;
    background-color: #191970;
}
.box.february {
    color: #191970;
}
.footer.february {
    background-color: #191970;
}
.box.february:hover {
    color: #F0FFFF;
}
.footer.february a {
    color: #F0FFFF;
}
.footer.february a:hover {
    text-decoration: underline;
}

/*march, turquoise*/
body.march {
    background-color: #D0F0C0;
}
.box.march {
    background-image: linear-gradient(#AFE7B2, #D0F0C0);
}
.box.march:hover {
    background-image: none;
    background-color: #01796F;
}
.box.march {
    color: #01796F;
}
.footer.march {
    background-color: #01796F;
}
.box.march:hover {
    color: #F0FFF0;
}
.footer.march a {
    color: #F0FFF0;
}
.footer.march a:hover {
    text-decoration: underline;
}

/*april, pink*/
body.april {
    background-color: #FFDAE9;
}
.box.april {
    background-image: linear-gradient(#F2BDCD, #FFDAE9);
}
.box.april:hover {
    background-image: none;
    background-color: #ED7A9B;
}
.box.april {
    color: #ED7A9B;
}
.footer.april {
    background-color: #ED7A9B;
}
.box.april:hover {
    color: #FFF0F5;
}
.footer.april a {
    color: #FFF0F5;
}
.footer.april a:hover {
    text-decoration: underline;
}

/*may, green*/
body.may {
    background-color: #FADA5E;
}
.box.may {
    background-image: linear-gradient(#FFFACD, #FADA5E);
}
.box.may:hover {
    background-image: none;
    background-color: #00BFFF;
}
.box.may {
    color: #00BFFF;
}
.footer.may {
    background-color: #00BFFF;
}
.box.may:hover {
    color: #E4D00A;
}
.footer.may a {
    color: #E4D00A;
}
.footer.may a:hover {
    text-decoration: underline;
}

/*june, blue*/
body.june {
    background-color: #EDECE8;
}
.box.june {
    background-image: linear-gradient(#CCDDE8, #EDECE8);
}
.box.june:hover {
    background-image: none;
    background-color: #178FD6;
}
.box.june {
    color: #178FD6;
}
.footer.june {
    background-color: #178FD6;
}
.box.june:hover {
    color: #FFFCF6;
}
.footer.june a {
    color: #FFFCF6;
}
.footer.june a:hover {
    text-decoration: underline;
}

/*july, yellow*/
body.july {
    background-color: #FADA5E;
}
.box.july {
    background-image: linear-gradient(#FCF75E, #FADA5E);
}
.box.july:hover {
    background-image: none;
    background-color: #EF9B0F;
}
.box.july {
    color: #EF9B0F;
}
.footer.july {
    background-color: #EF9B0F;
}
.box.july:hover {
    color: #FFFACD;
}
.footer.july a {
    color: #FFFACD;
}
.footer.july a:hover {
    text-decoration: underline;
}

/*august, orange*/
body.august {
    background-color: #FFA000;
}
.box.august {
    background-image: linear-gradient(#FF8F00, #FFA000);
}
.box.august:hover {
    background-image: none;
    background-color: #EC5800;
}
.box.august {
    color: #EC5800;
}
.footer.august {
    background-color: #EC5800;
}
.box.august:hover {
    color: #FFA500;
}
.footer.august a {
    color: #FFA500;
}
.footer.august a:hover {
    text-decoration: underline;
}

/*september, violet*/
body.september {
    background-color: #CCCCFF;
}
.box.september {
    background-image: linear-gradient(#E0B0FF, #CCCCFF);
}
.box.september:hover {
    background-image: none;
    background-color: #702963;
}
.box.september {
    color: #702963;
}
.footer.september {
    background-color: #702963;
}
.box.september:hover {
    color: #E6E6FA;
}

.footer.september a {
    color: #E6E6FA;
}
.footer.september a:hover {
    text-decoration: underline;
}

/*october, gray*/
body.october {
    background-color: #E5E4E2;
}
.box.october {
    background-image: linear-gradient(#DBD7D2, #E5E4E2);
}
.box.october:hover {
    background-image: none;
    background-color: #AD958E;
}
.box.october {
    color: #AD958E;
}
.footer.october {
    background-color: #AD958E;
}
.box.october:hover {
    color: #F5F5F5;
}
.footer.october a {
    color: #F5F5F5;
}
.footer.october a:hover {
    text-decoration: underline;
}

/*november, brown
body.november {
    background-color: #B7410E;
}
.box.november {
    background-image: linear-gradient(#882D17, #B7410E);
}*/
body.november {
    background-color: #ED9121;
}
.box.november {
    background-image: linear-gradient(#C46210, #ED9121);
}
.box.november:hover {
    background-image: none;
    background-color: #592720;
}
.box.november {
    color: #592720;
}
.footer.november {
    background-color: #592720;
}
.box.november:hover {
    color: #CC7F3B;
}
.footer.november a {
    color: #CC7F3B;
}
.footer.november a:hover {
    text-decoration: underline;
}

/*december, red*/
body.december {
    background-color: #99FFFF;
}
.box.december {
    background-image: linear-gradient(#FFFAFA, #99FFFF);
}
.box.december:hover {
    background-image: none;
    background-color: #FF0800;
}
.box.december {
    color: #FF0800;
}
.footer.december {
    background-color: #FF0800;
}
.box.december:hover {
    color: #FFFAFA;
}
.footer.december a {
    color: #FFFAFA;
}
.footer.december a:hover {
    text-decoration: underline;
}