@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Allura");
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch");

:root {
  --arrow-fs: clamp(2.5rem, 1.6071rem + 4.4643vw, 5.625rem);
  --bg-clr-light: #fff8e7;
  --bg-clr-dark: #171717;
  --enter-button-fs: clamp(1.875rem, 1.3393rem + 2.6786vw, 3.75rem);
  --gradient-light-clr: rgba(255, 215, 0, 0.8);
  --gradient-dark-clr: rgba(31, 31, 31, 0.8);
  --icon-bg-clr: rgb(229, 229, 234);
  --icon-bg-clr-active: rgb(174, 174, 178);
  --icon-clr: rgb(58, 58, 60);
  --icon-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  --input-fs: clamp(1rem, 0.4643rem + 2.6786vw, 2.875rem);
  --question-fs: clamp(1.375rem, 0.8036rem + 2.8571vw, 3.375rem);
  --quote-fs: clamp(2.125rem, 1.3036rem + 4.1071vw, 5rem);
  --shadow-clr: #ffd700;
  --text-clr: #f9f8f5;
  --time-fs: clamp(1.875rem, 1.0536rem + 4.1071vw, 4.75rem);
  --time-bigger-fs: clamp(2.25rem, 1.2857rem + 4.8214vw, 5.625rem);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-clr-light);
  color: var(--text-clr);
  display: grid;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100dvh;
  place-items: center;
  position: relative;
}

header {
  position: absolute;
  right: 1em;
  top: 1em;
}

footer {
  bottom: 1em;
  left: 1em;
  position: absolute;
}

dialog {
  border: none;
  color: var(--text-clr);
}

dialog::backdrop {
  background-color: var(--bg-clr-dark);
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Inconsolata";
  gap: 2em;
  height: 100%;
  justify-content: center;
  width: 100%;
}

main,
dialog {
  animation: rotate-color 10s linear infinite;
  aspect-ratio: 1 / 1;
  background: radial-gradient(
    circle at 100px 100px,
    var(--gradient-light-clr),
    var(--gradient-dark-clr)
  );
  border-radius: 100vmax;
  box-shadow: 0 0 50px var(--shadow-clr);
  height: 95vmin;
  text-align: center;
  width: 95vmin;
}

main {
  align-items: center;
  background-color: var(--bg-clr-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@keyframes rotate-color {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

/* ------ Paragraphs and inputs ------ */

p {
  margin: 0;
}

.question {
  filter: drop-shadow(0 0 50px var(--shadow-clr));
  font-family: "Inconsolata";
  font-size: var(--question-fs);
  line-height: 1.4;
}

input[type="datetime-local"] {
  background-color: transparent;
  border: 2px solid var(--text-clr);
  border-radius: 50px;
  box-shadow: 0 0 30px var(--shadow-clr);
  color: inherit;
  font-family: inherit;
  font-size: var(--input-fs);
  font-weight: bold;
  margin: 0;
  padding: 0.6rem;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.time {
  font-family: "Chakra Petch";
  font-size: var(--time-fs);
  line-height: 2;
  text-transform: capitalize;
}

.time-bigger {
  font-size: var(--time-bigger-fs);
}

.quote {
  font-family: "Allura";
  font-size: var(--quote-fs);
}

/* ------ Icons and buttons ------ */

i {
  color: var(--icon-clr);
  font-size: var(--icon-size);
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-button {
  color: inherit;
  font-size: var(--arrow-fs);
}

.enter-button {
  animation: blink 3s infinite;
  color: inherit;
  filter: drop-shadow(0 0 50px var(--shadow-clr));
  font-family: inherit;
  font-size: var(--enter-button-fs);
  font-weight: bold;
}

button:disabled {
  cursor: not-allowed;
  color: transparent;
  animation: none;
}

.round-button {
  align-items: center;
  background-color: var(--icon-bg-clr);
  border-radius: 100vmax;
  display: flex;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  transition: transform 0.15s ease;
  width: calc(var(--icon-size) * 2);
}

.round-button:active {
  background-color: var(--icon-bg-clr-active);
  transform: scale(0.95);
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  80%,
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
