@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Allura");
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch");

:root {
  --arrow-fs: clamp(1.5rem, 0.5rem + 5vw, 5rem);
  --enter-button-fs: ;
  --icon-bg-clr: rgb(229, 229, 234);
  --icon-bg-clr-active: rgb(174, 174, 178);
  --icon-clr: rgb(58, 58, 60);
  --icon-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  --question-fs: ;
  --quote-fs: ;
  --time-fs: clamp(2.5rem, 1.0714rem + 7.1429vw, 7.5rem);
  --time-bigger-fs: ;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff8e7;
  color: #f9f8f5;
  display: grid;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100dvh;
  place-items: center;
  position: relative;
}

header {
  position: absolute;
  right: 1em;
  top: 1em;
}

footer {
  bottom: 1em;
  left: 1em;
  position: absolute;
}

dialog {
  border: none;
  color: #f9f8f5;
}

dialog::backdrop {
  background-color: #171717;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Inconsolata";
  gap: 2em;
  height: 100%;
  justify-content: center;
  width: 100%;
}

input[type="datetime-local"] {
  background-color: transparent;
  border: 2px solid inherit;
  border-radius: 50px;
  box-shadow: 0 0 30px #ffd700;
  color: inherit;
  font-weight: bold;
  margin: 0;
  padding: 0.6rem;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

main,
dialog {
  animation: animate-border 10s linear infinite;
  aspect-ratio: 1 / 1;
  background: radial-gradient(
    circle at 100px 100px,
    rgba(255, 215, 0, 0.8),
    rgba(31, 31, 31, 0.8)
  );
  border-radius: 100vmax;
  box-shadow: 0 0 50px #ffd700;
  height: 95vmin;
  text-align: center;
  width: 95vmin;
}

main {
  align-items: center;
  background-color: #fff8e7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@keyframes animate-border {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

/* ------ Paragraphs ------ */

p {
  margin: 0;
  outline: 3px solid orange;
}

.question {
  filter: drop-shadow(0 0 50px #ffd700);
  font-family: "Inconsolata";
  font-size: var(--question-fs);
}

.time {
  font-family: "Chakra Petch";
  font-size: var(--time-fs);
}

.time-bigger {
  font-size: var(--time-bigger-fs);
}

.quote {
  font-family: "Allura";
  font-size: var(--quote-fs);
}

/* ------ Icons and buttons ------ */

i {
  color: var(--icon-clr);
  font-size: var(--icon-size);
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-button {
  color: inherit;
  font-size: var(--arrow-fs);
  font-weight: bold;
  border: 1px solid magenta;
}

.enter-button {
  animation: blink 3s infinite;
  color: inherit;
  filter: drop-shadow(0 0 50px #ffd700);
  font-family: inherit;
  font-size: var(--enter-button-fs);
  font-weight: bold;
  border: 3px solid red;
}

button:disabled {
  cursor: not-allowed;
  color: transparent;
  animation: none;
}

.round-button {
  align-items: center;
  background-color: var(--icon-bg-clr);
  border-radius: 100vmax;
  display: flex;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  transition: transform 0.15s ease;
  width: calc(var(--icon-size) * 2);
}

.round-button:active {
  background-color: var(--icon-bg-clr-active);
  transform: scale(0.95);
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  80%,
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
