@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One");

:root {
  --bg-clr: #ffffff;
  --controls-bg-gradient: linear-gradient(#d5514d, #693856);
  --controls-icon-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
  --ff: "Rubik Mono One";
  --fs: clamp(0.625rem, 0.4464rem + 0.8929vw, 1.25rem);
  --icon-bg-gradient: linear-gradient(#ff8d11, #d5514d, #693856);
  --icon-clr: #f9f8f5;
  --icon-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  --opening-dialog-fs: clamp(1.5rem, 0.6786rem + 4.1071vw, 4.375rem);
}

/* ------ Body ------ */

body {
  background-color: var(--bg-clr);
  display: grid;
  font-family: var(--ff);
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

@media (orientation: landscape) {
  body {
    grid-template-areas:
      "header-left main header-right"
      "controls main ."
      "footer-left main footer-right";
  }
}

@media (orientation: portrait) {
  body {
    grid-template-areas:
      "header-left header header-right"
      "main main main"
      "footer-left controls footer-right";
  }
}

/* ------ Header and footer ------ */

header,
footer {
  padding: 1em;
  position: relative;
  z-index: 1;
}

header {
  grid-area: header-right;
}

.title {
  color: #000;
  font-size: var(--fs);
  grid-area: header-left;
  line-height: 1.4;
  place-self: center;
  text-align: right;
  z-index: 1;
}

footer {
  grid-area: footer-left;
}

/* ------ Buttons ------ */

.controls {
  align-items: center;
  background: var(--controls-bg-gradient);
  border-radius: 100vmax;
  display: flex;
  gap: 0.3em;
  grid-area: controls;
  height: calc(var(--controls-icon-size) * 2);
  justify-content: space-evenly;
  place-self: center;
  width: calc(var(--controls-icon-size) * 2 * 3);
  z-index: 1;
}

@media (orientation: landscape) {
  .controls {
    flex-direction: column;
    height: calc(var(--controls-icon-size) * 2 * 3);
    width: calc(var(--controls-icon-size) * 2);
  }
}

i {
  color: var(--icon-clr);
  font-size: var(--icon-size);
}

@media (orientation: landscape) {
  #previous i.fa-solid.fa-angle-up,
  #next i.fa-solid.fa-angle-down {
    display: inline-block;
  }

  #previous i.fa-solid.fa-angle-left,
  #next i.fa-solid.fa-angle-right {
    display: none;
  }
}

@media (orientation: portrait) {
  #previous i.fa-solid.fa-angle-up,
  #next i.fa-solid.fa-angle-down {
    display: none;
  }

  #previous i.fa-solid.fa-angle-left,
  #next i.fa-solid.fa-angle-right {
    display: inline-block;
  }
}

.controls button i {
  font-size: var(--controls-icon-size);
}

a,
a:focus {
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.round-button {
  align-items: center;
  background: var(--icon-bg-gradient);
  border-radius: 100vmax;
  display: flex;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  transition: transform 0.15s ease;
  width: calc(var(--icon-size) * 2);
}

.round-button:active,
.round-button:focus {
  transform: scale(0.95);
}

/* ------ Images ------ */

.backdrop-blur-layer {
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(25px) saturate(3);
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

main {
  grid-area: main;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: center;
  width: 100%;
}

.img-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;

  box-sizing: border-box;
  padding: 7rem;

  position: relative;
  transition: background-image 0.1s ease;
}

.img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(25px) saturate(3);
  pointer-events: none;
  z-index: 0;
}

/*
@media (orientation: landscape) and (min-aspect-ratio: 3/2) {
  main {
    height: min(calc(100% - clamp(2rem, 0.4286rem + 7.8571vw, 7.5rem)), 800px);
    width: 100vmin;
  }
}

@media (orientation: portrait) and (min-aspect-ratio: 2/3) {
  main {
    height: 100vmin;
    width: min(calc(100% - clamp(2rem, 0.4286rem + 7.8571vw, 7.5rem)), 800px);
  }
}

@media (orientation: portrait) and (min-aspect-ratio: 2/4) {
  main {
    height: 90vmin;
    width: min(calc(100% - clamp(2rem, 0.4286rem + 7.8571vw, 7.5rem)), 800px);
  }
}
*/

/*
.img-wrapper {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  box-sizing: border-box;
  padding: 5rem;

  margin-top: 0%;
}
  */

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  z-index: 1;
  transform: translateY(0);
}

/* ------ Images animation ------ */

@keyframes slide-up {
  from {
    transform: translateY(-400%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(400%);
  }
}

@keyframes bg-slide-up {
  from {
    background-position: center -100vh;
  }
  to {
    background-position: center center;
  }
}

@keyframes bg-slide-down {
  from {
    background-position: center center;
  }
  to {
    background-position: center 100vh;
  }
}

.img-wrapper img.slide-up {
  animation: slide-up 1s forwards;
}

.img-wrapper img.slide-down {
  animation: slide-down 1s forwards;
}

.img-wrapper.bg-slide-up {
  animation: bg-slide-up 1s forwards;
}

.img-wrapper.bg-slide-down {
  animation: bg-slide-down 1s forwards;
}

/* ------ Dialogs ------ */

dialog {
  background: none;
  border: none;
  display: none;
  opacity: 0;
  outline: none;
  transition-property: overlay display opacity;
  transition-duration: 1s;
  transition-behavior: allow-discrete;
}

dialog[open] {
  display: block;
  opacity: 1;
}

dialog::backdrop {
  opacity: 0;
  transition-property: overlay display opacity;
  transition-duration: 1s;
  transition-behavior: allow-discrete;
}

dialog[open]::backdrop {
  opacity: 1;
}

.opening-dialog {
  max-width: var(--main-width-size);
  text-align: center;
}

.opening-dialog::backdrop {
  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(255, 255, 255, 0.85);
}

.opening-dialog h1 {
  background: -webkit-linear-gradient(#7d7697, #ff8d11, #d5514d, #693856);
  background-clip: text;
  font-size: var(--opening-dialog-fs);
  line-height: 1.1;
  -webkit-text-fill-color: transparent;
}

.slideshow-dialog {
  cursor: pointer;
}

.slideshow-dialog::backdrop {
  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(0, 0, 0, 0.9);
}

.slideshow-dialog img {
  height: auto;
  max-height: 80vh;
}

@starting-style {
  .slideshow-dialog[open],
  .slideshow-dialog[open]::backdrop {
    opacity: 0;
  }
}
