:root {
  --bg-clr: rgb(250, 250, 250);
  --dropdown-menu-border-clr: rgb(229, 229, 234);
  --dropdown-menu-bg-clr: rgb(245, 245, 245);
  --dropdown-menu-item-fs: clamp(1.125rem, 0.9464rem + 0.8929vw, 1.75rem);
  --icon-bg-clr: rgb(243, 243, 243);
  --icon-bg-clr-active: rgb(174, 174, 178);
  --icon-clr: rgb(58, 58, 60);
  --icon-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  --menu-item-clr: rgb(10, 10, 10);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

header,
footer {
  display: flex;
  padding: 1em;
}

header {
  justify-content: end;
  position: relative;
}

i {
  color: var(--icon-clr);
  font-size: var(--icon-size);
}

a {
  text-decoration: none;
}

.round-button {
  align-items: center;
  background-color: var(--icon-bg-clr);
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  display: flex;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  transition: transform 0.15s ease;
  width: calc(var(--icon-size) * 2);
}

.round-button:active {
  background-color: var(--icon-bg-clr-active);
  transform: scale(0.95);
}

.dropdown-menu {
  background-color: var(--dropdown-menu-bg-clr);
  border-radius: 12px;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.3),
    0 0 25px -15px rgba(0, 0, 0, 0.2);
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Display",
    "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 1em;
  top: 100%;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdown-menu.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  z-index: 10;
}

.menu-item {
  background-color: transparent;
  border: none;
  color: var(--menu-item-clr);
  cursor: pointer;
  display: flex;
  font-size: var(--dropdown-menu-item-fs);
  padding: 0.8em 2.6em 0.8em 0.8em;
}

.menu-item:not(:last-child) {
  border-bottom: 2px solid var(--dropdown-menu-border-clr);
}

main > img {
  border: 1px solid red;
  inset: 50%;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  translate: -50% -50%;
}

.analogue {
  padding-block: clamp(0rem, -1.7143rem + 8.5714vw, 6rem);
}

.digital {
  padding-inline: clamp(0rem, -2.8571rem + 14.2857vw, 10rem);
}
