@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One");

:root {
  --bg-clr: #ffffff;
  --icon-bg-gradient: linear-gradient(#7d7697, #ff8d11, #d5514d, #693856);
  --icon-bg-clr-active: rgb(174, 174, 178);
  --icon-clr: #f9f8f5;
  --icon-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-clr);
  display: grid;
  font-family: "Rubik Mono One";
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  margin: 0 auto;
  max-width: 1440px;
}

header,
footer {
  display: grid;
  padding: 1em;
}

header {
  justify-content: end;
}

footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "footer-left footer-center footer-right";
  place-items: center;
}

footer a {
  grid-area: footer-left;
}

.controls {
  display: flex;
  gap: 1em;
  grid-area: footer-center;
}

i {
  color: var(--icon-clr);
  font-size: var(--icon-size);
}

a,
a:focus {
  outline: none;
  text-decoration: none;
}

button {
  align-items: center;
  background: var(--icon-bg-gradient);
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  display: flex;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  transition: transform 0.15s ease;
  width: calc(var(--icon-size) * 2);
}

button:active,
button:focus {
  background-color: var(--icon-bg-clr-active);
  outline: none;
  transform: scale(0.95);
}
