@font-face {
  font-family: "Oleo Script";
  font-weight: 400;
  src: local("Oleo Script"),
    url("/fonts/Oleo\ Script/oleoscript-regular.woff2") format("woff2"),
    url("/fonts/Oleo\ Script/oleoscript-regular.woff") format("woff");
}

@font-face {
  font-family: "Oleo Script";
  font-weight: 700;
  src: local("Oleo Script"),
    url("/fonts/Oleo\ Script/oleoscript-bold.woff2") format("woff2"),
    url("/fonts/Oleo\ Script/oleoscript-bold.woff") format("woff");
}

:root {
  --body-bg-clr: #edece8;
  --body-fs: clamp(1.25rem, 1rem + 1.25vw, 2.125rem);
  --cookie-banner-fs: clamp(0.6875rem, 0.6339rem + 0.2679vw, 0.875rem);
  --cookie-banner-button-fs: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
  --font-family: "Courier New", Courier, monospace;
  --font-weight: bold;
  --footer-bg-clr: #034488;
  --footer-clr: #fffcf6;
  --footer-fs: clamp(1.125rem, 0.875rem + 1.25vw, 2rem);
  --soma-bg-img: linear-gradient(#ccdde8, #edece8);
  --soma-bg-clr-hover: #034488;
  --soma-bg-img-hover: none;
  --soma-border-clr: #034488;
  --soma-clr: #034488;
  --soma-clr-hover: #fffcf6;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-clr);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--body-fs);
  font-weight: var(--font-weight);
  letter-spacing: 1px;
  line-height: 1.6;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100dvh;
  width: min(100% - 1em, 900px);
}

main {
  display: flex;
  flex-direction: column;
  margin-block: 0.4em;
}

a,
a:focus {
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
}

.soma {
  background-image: var(--soma-bg-img);
  border: 0.2px solid var(--soma-border-clr);
  border-radius: 100vmax;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--soma-clr);
  margin-block: 0.2em;
  padding: 0.6em 1.4em;
  position: relative;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.soma:hover::before,
.soma:focus::before,
.soma:hover::after,
.soma:focus::after {
  animation: rotation 5s linear infinite;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--soma-clr),
    var(--body-bg-clr),
    var(--soma-clr-hover),
    var(--body-bg-clr),
    var(--soma-clr)
  );
  border-radius: inherit;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}

.soma:hover::after,
.soma:focus::after {
  filter: blur(25px);
}

.soma:hover,
.soma:focus {
  background-color: var(--soma-bg-clr-hover);
  background-image: var(--soma-bg-img-hover);
  color: var(--soma-clr-hover);
}

footer {
  background-color: var(--footer-bg-clr);
  border-radius: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  font-size: var(--footer-fs);
  justify-content: space-between;
  margin-bottom: 0.6em;
  padding: 0.6em;
}

.footer-right {
  text-align: end;
}

.footer-link {
  color: var(--footer-clr);
  display: block;
  margin: 0.25em;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.cookie-banner {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Courier New", monospace;
  font-size: var(--cookie-banner-fs);
  font-weight: normal;
  left: 0;
  padding: 0.6em;
  position: fixed;
  width: 100%;
}

.cookie-content {
  margin: 0 auto;
  width: min(100% - 1em, 900px);
}

.cookie-banner p {
  margin: 0.6em;
  text-align: justify;
}

.cookie-banner button {
  background-color: #000000;
  border: solid 2px #000000;
  border-radius: 100vmax;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: var(--cookie-banner-button-fs);
  margin: 0 auto;
  padding: 0.6em 1.2em;
}

.cookie-banner button:hover,
.cookie-banner button:focus {
  background-color: #ffffff;
  color: #000000;
}

/*january, black*/
.january {
  --body-bg-clr: #91a3b0;
  --font-family: "Shadows Into Light";
  --footer-bg-clr: #36454f;
  --footer-clr: #8c92ac;
  --soma-bg-img: linear-gradient(#708090, #91a3b0);
  --soma-bg-clr-hover: #8c92ac;
  --soma-bg-img-hover: none;
  --soma-border-clr: #36454f;
  --soma-clr: #36454f;
  --soma-clr-hover: #fffcf6;
}

/*february, white*/
.february {
  --body-bg-clr: #a4dded;
  --font-family: "Tomorrow";
  --footer-bg-clr: #191970;
  --footer-clr: #f0ffff;
  --soma-bg-img: linear-gradient(#fffafa, #a4dded);
  --soma-bg-clr-hover: #191970;
  --soma-bg-img-hover: none;
  --soma-border-clr: #191970;
  --soma-clr: #191970;
  --soma-clr-hover: #f0ffff;
}

/*march, turquoise*/
.march {
  --body-bg-clr: #d0f0c0;
  --font-family: "Caveat";
  --footer-bg-clr: #01796f;
  --footer-clr: #f0fff0;
  --soma-bg-img: linear-gradient(#afe7b2, #d0f0c0);
  --soma-bg-clr-hover: #01796f;
  --soma-bg-img-hover: none;
  --soma-border-clr: #01796f;
  --soma-clr: #01796f;
  --soma-clr-hover: #f0fff0;
}

/*april, pink*/
.april {
  --body-bg-clr: #ffdae9;
  --font-family: "Kaushan Script";
  --footer-bg-clr: #ed7a9b;
  --footer-clr: #fff0f5;
  --soma-bg-img: linear-gradient(#f2bdcd, #ffdae9);
  --soma-bg-clr-hover: #ed7a9b;
  --soma-bg-img-hover: none;
  --soma-border-clr: #ed7a9b;
  --soma-clr: #ed7a9b;
  --soma-clr-hover: #fff0f5;
}

/*may, sorrento*/
.may {
  --body-bg-clr: #fada5e;
  --font-family: "Oleo Script";
  --footer-bg-clr: #00bfff;
  --footer-clr: #e4d00a;
  --soma-bg-img: linear-gradient(#fffacd, #fada5e);
  --soma-bg-clr-hover: #00bfff;
  --soma-bg-img-hover: none;
  --soma-border-clr: #00bfff;
  --soma-clr: #00bfff;
  --soma-clr-hover: #e4d00a;
}

/*june, blue*/
.june {
  --body-bg-clr: #edece8;
  --font-family: "Playwrite AT";
  --footer-bg-clr: #178fd6;
  --footer-clr: #fffcf6;
  --soma-bg-img: linear-gradient(#ccdde8, #edece8);
  --soma-bg-clr-hover: #178fd6;
  --soma-bg-img-hover: none;
  --soma-border-clr: #178fd6;
  --soma-clr: #178fd6;
  --soma-clr-hover: #fffcf6;
}

/*july, yellow*/
.july {
  --body-bg-clr: #fada5e;
  --font-family: "Coiny";
  --footer-bg-clr: #ef9b0f;
  --footer-clr: #fffacd;
  --soma-bg-img: linear-gradient(#fcf75e, #fada5e);
  --soma-bg-clr-hover: #ef9b0f;
  --soma-bg-img-hover: none;
  --soma-border-clr: #ef9b0f;
  --soma-clr: #ef9b0f;
  --soma-clr-hover: #fffacd;
}

/*august, orange*/
.august {
  --body-bg-clr: #ffa000;
  --font-family: "Notable";
  --footer-bg-clr: #ec5800;
  --footer-clr: #ffa500;
  --soma-bg-img: linear-gradient(#ff8f00, #ffa000);
  --soma-bg-clr-hover: #ec5800;
  --soma-bg-img-hover: none;
  --soma-border-clr: #ec5800;
  --soma-clr: #ec5800;
  --soma-clr-hover: #ffa500;
}

/*september, violet*/
.september {
  --body-bg-clr: #ccccff;
  --font-family: "MuseoModerno";
  --footer-bg-clr: #702963;
  --footer-clr: #e6e6fa;
  --soma-bg-img: linear-gradient(#e0b0ff, #ccccff);
  --soma-bg-clr-hover: #702963;
  --soma-bg-img-hover: none;
  --soma-border-clr: #702963;
  --soma-clr: #702963;
  --soma-clr-hover: #e6e6fa;
}

/*october, gray*/
.october {
  --body-bg-clr: #e5e4e2;
  --font-family: "Autour One";
  --footer-bg-clr: #ad958e;
  --footer-clr: #f5f5f5;
  --soma-bg-img: linear-gradient(#dbd7d2, #e5e4e2);
  --soma-bg-clr-hover: #ad958e;
  --soma-bg-img-hover: none;
  --soma-border-clr: #ad958e;
  --soma-clr: #ad958e;
  --soma-clr-hover: #f5f5f5;
}

/*november, brown*/
.november {
  --body-bg-clr: #ed9121;
  --font-family: "Matemasie";
  --footer-bg-clr: #592720;
  --footer-clr: #cc7f3b;
  --soma-bg-img: linear-gradient(#c46210, #ed9121);
  --soma-bg-clr-hover: #592720;
  --soma-bg-img-hover: none;
  --soma-border-clr: #592720;
  --soma-clr: #592720;
  --soma-clr-hover: #cc7f3b;
}

/*december, red*/
.december {
  --body-bg-clr: #99ffff;
  --font-family: "Rubik Bubbles";
  --footer-bg-clr: #ff0800;
  --footer-clr: #fffafa;
  --soma-bg-img: linear-gradient(#fffafa, #99ffff);
  --soma-bg-clr-hover: #ff0800;
  --soma-bg-img-hover: none;
  --soma-border-clr: #ff0800;
  --soma-clr: #ff0800;
  --soma-clr-hover: #fffafa;
}
