:root {
  --body-bg-clr: #edece8;
  --body-font-size: clamp(1.5rem, 1.1429rem + 1.7857vw, 2.75rem);
  --font-family: "Courier New", monospace;
  --font-weight: bold;
  --footer-bg-clr: #034488;
  --footer-clr: #fffcf6;
  --footer-font-size: clamp(1.25rem, 0.9643rem + 1.4286vw, 2.25rem);
  --soma-bg-img: linear-gradient(#ccdde8, #edece8);
  --soma-bg-clr-hover: #178fd6;
  --soma-bg-img-hover: none;
  --soma-clr: #034488;
  --soma-clr-hover: #fffcf6;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-clr);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--body-font-size);
  font-weight: var(--font-weight);
  letter-spacing: 1px;
  line-height: 1.6;
  justify-content: space-between;
  margin: 0;
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.soma {
  background-image: var(--soma-bg-img);
  color: var(--soma-clr);
  padding: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

.soma:hover,
.soma:focus {
  background-color: var(--soma-bg-clr-hover);
  background-image: var(--soma-bg-img-hover);
  color: var(--soma-clr-hover);
}

footer {
  background-color: var(--footer-bg-clr);
  display: flex;
  font-size: var(--footer-font-size);
  justify-content: space-between;
  padding: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
}

.footer-right {
  text-align: end;
}

.footer-link {
  color: var(--footer-clr);
  display: block;
  margin: clamp(0.25rem, 0.2143rem + 0.1786vw, 0.375rem);
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.cookie-banner {
  background-color: #ffffff;
  bottom: 0;
  font-family: "Courier New", monospace;
  font-size: clamp(0.625rem, 0.538rem + 0.4348vw, 0.875rem);
  font-weight: normal;
  padding: 0.6em;
  position: fixed;
}

.cookie-banner p {
  margin: 0.6em;
  text-align: justify;
}

.cookie-banner button {
  background-color: #000000;
  border: solid 2px #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
  margin: 0 auto;
  padding: 0.6em 1.2em;
}

.cookie-banner button:hover,
.cookie-banner button:focus {
  background-color: #ffffff;
  color: #000000;
  border: solid 2px #000000;
}

/*january, black*/
.january {
  --body-bg-clr: #91a3b0;
  --font-family: "Shadows Into Light";
  --footer-bg-clr: #36454f;
  --footer-clr: #8c92ac;
  --soma-bg-img: linear-gradient(#708090, #91a3b0);
  --soma-bg-clr-hover: #8c92ac;
  --soma-bg-img-hover: none;
  --soma-clr: #36454f;
  --soma-clr-hover: #fffcf6;
}

/*february, white*/
.february {
  --body-bg-clr: #a4dded;
  --font-family: "Tomorrow";
  --footer-bg-clr: #191970;
  --footer-clr: #f0ffff;
  --soma-bg-img: linear-gradient(#fffafa, #a4dded);
  --soma-bg-clr-hover: #191970;
  --soma-bg-img-hover: none;
  --soma-clr: #191970;
  --soma-clr-hover: #f0ffff;
}

/*march, turquoise*/
.march {
  --body-bg-clr: #d0f0c0;
  --font-family: "Caveat";
  --footer-bg-clr: #01796f;
  --footer-clr: #f0fff0;
  --soma-bg-img: linear-gradient(#afe7b2, #d0f0c0);
  --soma-bg-clr-hover: #01796f;
  --soma-bg-img-hover: none;
  --soma-clr: #01796f;
  --soma-clr-hover: #f0fff0;
}

/*april, pink*/
.april {
  --body-bg-clr: #ffdae9;
  --font-family: "Kaushan Script";
  --footer-bg-clr: #ed7a9b;
  --footer-clr: #fff0f5;
  --soma-bg-img: linear-gradient(#f2bdcd, #ffdae9);
  --soma-bg-clr-hover: #ed7a9b;
  --soma-bg-img-hover: none;
  --soma-clr: #ed7a9b;
  --soma-clr-hover: #fff0f5;
}

/*may, sorrento*/
.may {
  --body-bg-clr: #fada5e;
  --font-family: "Oleo Script";
  --footer-bg-clr: #00bfff;
  --footer-clr: #e4d00a;
  --soma-bg-img: linear-gradient(#fffacd, #fada5e);
  --soma-bg-clr-hover: #00bfff;
  --soma-bg-img-hover: none;
  --soma-clr: #00bfff;
  --soma-clr-hover: #e4d00a;
}

/*june, blue*/
.june {
  --body-bg-clr: #edece8;
  --font-family: "Playwrite AT";
  --footer-bg-clr: #178fd6;
  --footer-clr: #fffcf6;
  --soma-bg-img: linear-gradient(#ccdde8, #edece8);
  --soma-bg-clr-hover: #178fd6;
  --soma-bg-img-hover: none;
  --soma-clr: #178fd6;
  --soma-clr-hover: #fffcf6;
}

/*july, yellow*/
.july {
  --body-bg-clr: #fada5e;
  --font-family: "Coiny";
  --footer-bg-clr: #ef9b0f;
  --footer-clr: #fffacd;
  --soma-bg-img: linear-gradient(#fcf75e, #fada5e);
  --soma-bg-clr-hover: #ef9b0f;
  --soma-bg-img-hover: none;
  --soma-clr: #ef9b0f;
  --soma-clr-hover: #fffacd;
}

/*august, orange*/
.august {
  --body-bg-clr: #ffa000;
  --font-family: "Notable";
  --footer-bg-clr: #ec5800;
  --footer-clr: #ffa500;
  --soma-bg-img: linear-gradient(#ff8f00, #ffa000);
  --soma-bg-clr-hover: #ec5800;
  --soma-bg-img-hover: none;
  --soma-clr: #ec5800;
  --soma-clr-hover: #ffa500;
}

/*september, violet*/
.september {
  --body-bg-clr: #ccccff;
  --font-family: "MuseoModerno";
  --footer-bg-clr: #702963;
  --footer-clr: #e6e6fa;
  --soma-bg-img: linear-gradient(#e0b0ff, #ccccff);
  --soma-bg-clr-hover: #702963;
  --soma-bg-img-hover: none;
  --soma-clr: #702963;
  --soma-clr-hover: #e6e6fa;
}

/*october, gray*/
.october {
  --body-bg-clr: #e5e4e2;
  --font-family: "Autour One";
  --footer-bg-clr: #ad958e;
  --footer-clr: #f5f5f5;
  --soma-bg-img: linear-gradient(#dbd7d2, #e5e4e2);
  --soma-bg-clr-hover: #ad958e;
  --soma-bg-img-hover: none;
  --soma-clr: #ad958e;
  --soma-clr-hover: #f5f5f5;
}

/*november, brown*/
.november {
  --body-bg-clr: #ed9121;
  --font-family: "Matemasie";
  --footer-bg-clr: #592720;
  --footer-clr: #cc7f3b;
  --soma-bg-img: linear-gradient(#c46210, #ed9121);
  --soma-bg-clr-hover: #592720;
  --soma-bg-img-hover: none;
  --soma-clr: #592720;
  --soma-clr-hover: #cc7f3b;
}

/*december, red*/
.december {
  --body-bg-clr: #99ffff;
  --font-family: "Rubik Bubbles";
  --footer-bg-clr: #ff0800;
  --footer-clr: #fffafa;
  --soma-bg-img: linear-gradient(#fffafa, #99ffff);
  --soma-bg-clr-hover: #ff0800;
  --soma-bg-img-hover: none;
  --soma-clr: #ff0800;
  --soma-clr-hover: #fffafa;
}
