:root {
  --body-fs: clamp(1.25rem, 1rem + 1.25vw, 2.125rem);
  --ff: "Verdana";
  --fs: 60px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
  position: relative;
  width: min(100% - 1em, 1440px);
}

header,
footer {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.4em;
}

img {
  border-radius: 100vmax;
  inset: 50%;
  max-width: 100%;
  max-height: 100%;
  padding: 1em;
  position: absolute;
  translate: -50% -50%;
}

.icon-background {
  color: red;
}

.icon-background:hover {
  color: blue;
}

i {
  font-size: var(--fs);
}

i::before {
  content: "";
  background-color: red;
  padding: 0.4em;
  border-radius: 100vmax;
}

button {
  background: #cdc7c7;
  border: none;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff);

  font-weight: bold;
  height: 8rem;
  width: 8rem;
}

/*
.clockwise {
  animation: spinClockwise 61s linear infinite;
}

.anticlockwise {
  animation: spinAnticlockwise 61s linear infinite;
}

.clockwise,
.anticlockwise {
  animation-play-state: running;
}

@keyframes spinClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinAnticlockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
*/
