:root {
  --blur: 25px;
  --saturation: 3;
}

body {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

.background-blur-layer {
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(var(--blur)) saturate(var(--saturation));
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.img-wrapper {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  box-sizing: border-box;
  display: flex;
  height: 100dvh;
  justify-content: center;
  overflow: hidden;
  padding: clamp(1.5625rem, 0.2232rem + 6.6964vw, 6.25rem);
  width: 100%;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  z-index: 1;
}
