@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");

:root {
  --dark-clr: #000;
  --font-clr: #111111;
  --font-family: "Courier Prime", "Courier New", Courier,
    "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  --form-btn-fs: clamp(0.875rem, 0.806rem + 0.3448vw, 1rem);
  --form-fs: clamp(0.875rem, 0.806rem + 0.3448vw, 1rem);
  --footer-link-fs: clamp(0.875rem, 0.806rem + 0.3448vw, 1rem);
  --header-fs: clamp(1.25rem, 0.6983rem + 2.7586vw, 2.25rem);
  --icon-bg-clr: #fff;
  --icon-bg-clr-active: rgb(174, 174, 174);
  --icon-clr: rgb(0, 0, 0);
  --icon-size: clamp(1rem, 0.8621rem + 0.6897vw, 1.25rem);
  --input-placeholder-clr: #848482;
  --light-clr: #fff;
  --line-horizontal-clr: #3b3c36;
  --line-vertical-clr: #e60026;
  --line-offset: calc(
    50% - min(50% - 0.5em, 450px) + clamp(1.5rem, 0.5rem + 4.4444vw, 3rem)
  );
  --poem-title-fs: clamp(1.125rem, 0.5417rem + 2.5926vw, 2rem);
  --poem-fs: clamp(0.75rem, 0.6121rem + 0.6897vw, 1rem);
  --poems-fs: clamp(0.875rem, 0.806rem + 0.3448vw, 1rem);
  --poem-indent: clamp(2.25rem, 1.5603rem + 3.4483vw, 3.5rem);
  --summary-fs: clamp(1.375rem, 1.0302rem + 1.7241vw, 2rem);
}

* {
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                Html and body                               */
/* -------------------------------------------------------------------------- */

html {
  position: relative;
}

html::before {
  content: "";
  filter: url(#noiseFilter);
  inset: 0;
  min-height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: -1;
}

svg {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -10;
}

body {
  color: var(--font-clr);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  margin: 0 auto;
  min-height: 100dvh;
  max-width: 900px;
  text-align: center;
}

.line-left,
.line-right {
  background-color: var(--line-vertical-clr);
  bottom: 0;
  position: fixed;
  top: 0;
  width: 1px;
  z-index: 1;
}

.line-left {
  left: var(--line-offset);
}

.line-right {
  right: var(--line-offset);
}

/* -------------------------------------------------------------------------- */
/*                                Header                                      */
/* -------------------------------------------------------------------------- */

header {
  background: repeating-linear-gradient(
    transparent 0em,
    transparent 0.96em,
    var(--line-horizontal-clr) 1em
  );
  font-size: var(--header-fs);
  line-height: 1.5em;
  margin-block: 0.6em;
}

/* -------------------------------------------------------------------------- */
/*                                Main                                        */
/* -------------------------------------------------------------------------- */

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* -------------------------------------------------------------------------- */
/*                                Poems                                       */
/* -------------------------------------------------------------------------- */

summary {
  cursor: pointer;
  font-size: var(--summary-fs);
}

summary:focus-visible {
  outline: none;
  text-decoration: underline;
}

details[open] summary {
  font-weight: bold;
}

details {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

details > * {
  display: block;
  margin-block: 0.8em;
}

details a {
  background: repeating-linear-gradient(
    transparent 0em,
    transparent 0.96em,
    var(--line-horizontal-clr) 1em
  );
  color: var(--font-clr);
  font-size: var(--poems-fs);
  font-style: italic;
  line-height: 1.5em;
  outline: none;
  text-decoration: none;
}

details a:focus-visible,
details a:hover {
  font-style: normal;
  font-weight: bold;
}

/* -------------------------------------------------------------------------- */
/*                                Poem                                        */
/* -------------------------------------------------------------------------- */

.poem {
  padding-block: 2em;
  text-align: left;
  text-indent: var(--poem-indent);
}

.poem h1 {
  background: repeating-linear-gradient(
    transparent 0em,
    transparent 0.96em,
    var(--line-horizontal-clr) 1em
  );
  font-size: var(--poem-title-fs);
  line-height: 1.5em;
  margin-block: 1.2em;
  font-style: italic;
}

.poem p {
  background: repeating-linear-gradient(
    transparent 0em,
    transparent 0.96em,
    var(--line-horizontal-clr) 1em
  );
  font-size: var(--poem-fs);
  line-height: 1.5em;
  margin-block: 0.4em;
}

.poem p.invisible {
  color: transparent;
}

.typewriter {
  color: transparent;
  overflow: hidden;
  position: relative;
}

.typewriter::before {
  animation: typewriter 4s steps(40) forwards;
  color: var(--font-clr);
  content: attr(data-text);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 0;
}

.typewriter.second::before {
  animation-delay: 2s;
}

@media (max-width: 400px) {
  .typewriter.second::before {
    animation-delay: 3s;
  }
}

@keyframes typewriter {
  to {
    width: 100%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                Footer                                      */
/* -------------------------------------------------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding-block: 0.6em;
}

footer a {
  color: var(--font-clr);
  font-size: var(--footer-link-fs);
  text-decoration: none;
}

footer a:focus-visible,
footer a:hover {
  font-weight: bold;
  outline: none;
}

/* -------------------------------------------------------------------------- */
/*                                Icon                                        */
/* -------------------------------------------------------------------------- */

button {
  cursor: pointer;
}

i {
  color: var(--font-clr);
  font-size: var(--icon-size);
}

.i-poem {
  font-size: var(--poems-fs);
  margin-right: 0.6em;
}

.round-button {
  align-items: center;
  background: var(--light-clr);
  border: 1px solid var(--dark-clr);
  border-radius: 100vmax;
  display: flex;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  transition: transform 0.15s ease;
  width: calc(var(--icon-size) * 2);
}

.round-button:focus-visible {
  outline: none;
  transform: translateY(-2px);
}

@media (hover: hover) {
  .round-button:hover {
    outline: none;
    transform: translateY(-2px);
  }
}

.round-button:active {
  outline: none;
  transform: scale(0.95);
}

.icons {
  display: flex;
  gap: 1em;
  justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                                Form                                        */
/* -------------------------------------------------------------------------- */

form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

@media (max-width: 410px) {
  form {
    flex-direction: column;
    gap: 0.3em;
  }
}

input {
  background-color: var(--light-clr);
  border: 1px solid var(--font-clr);
  border-radius: 5px;
  color: var(--font-clr);
  font-family: inherit;
  font-size: var(--form-fs);
  padding-block: 0.2em;
  text-align: center;
}

input::placeholder {
  color: var(--input-placeholder-clr);
}

input:focus {
  background-color: var(--light-clr);
  border-color: var(--font-clr);
  color: var(--font-clr);
}

input:invalid {
  border-color: red;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

.form-button {
  background-color: var(--font-clr);
  border: none;
  border-radius: 5px;
  color: var(--light-clr);
  font-family: inherit;
  font-size: var(--form-btn-fs);
  padding-block: 0.2em;
  padding-inline: 1.6em;
}

.form-button:focus-visible,
.form-button:hover {
  background-color: transparent;
  border: 1px solid var(--font-clr);
  color: var(--font-clr);
  font-weight: bold;
}

.form-button:disabled {
  background-color: var(--input-placeholder-clr);
  color: var(--form-btn-clr);
  cursor: not-allowed;
}
