@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");

:root {
  --font-family: "Courier Prime", "Courier New", Courier,
    "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  --header-fs: clamp(1.25rem, 0.8362rem + 2.069vw, 2rem);
  --icon-bg-clr: transparent;
  --icon-bg-clr-active: rgb(174, 174, 174);
  --icon-clr: rgb(0, 0, 0);
  --icon-size: 1.2em;
  --light-bg: #ffffff;

  --line-offset: calc(50% - min(50% - 0.5em, 450px) + 3em);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-bg);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  margin: 0 auto;
  min-height: 100dvh;
  text-align: center;
  width: min(100% - 1em, 900px);
}

body::before {
  background: #000;
  content: "";
  filter: url(#noiseFilter);
  height: 100%;
  inset: 0;
  opacity: 30%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.line-left,
.line-right {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: red;
  z-index: 1;
}

.line-left {
  left: var(--line-offset);
}

.line-right {
  right: var(--line-offset);
}

svg {
  position: absolute;
  z-index: 1;
}

header {
  background: repeating-linear-gradient(
    transparent 0em,
    transparent 0.96em,
    #000 1em
  );
  font-size: var(--header-fs);
  line-height: 1.5em;
  margin-block: 0.6em;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1em;
  justify-content: top;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-block: 1em;
}

main a,
main a:focus {
  background: repeating-linear-gradient(
    transparent 0em,
    transparent 0.96em,
    #000 1em
  );
  color: #000;
  line-height: 1.5em;
  outline: none;
  text-decoration: none;
}

footer a {
  color: #000;
  text-decoration: none;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

form label {
  flex-basis: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: -0.7em;
}

input {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  font-family: inherit;
  font-size: 1em;
  padding-block: 0.2em;
  text-align: center;
}

input::placeholder {
  color: gray;
  opacity: 1;
  text-align: center;
}

input:focus {
  background-color: white;
  border-color: black;
  color: black;
  outline: none;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

button {
  cursor: pointer;
}

.form-button {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  padding-block: 0.5em;
}

.form-button:hover,
.form-button:focus {
  background-color: white;
  color: black;
  outline: none;
}

.form-button:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.social-links {
  display: flex;
  gap: 1em;
  justify-content: center;
}

i {
  color: black;
  font-size: 1em;
}

.round-button {
  align-items: center;
  background: white;
  border: 1px solid black;
  border-radius: 100vmax;
  display: flex;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  width: calc(var(--icon-size) * 2);
}

.round-button:active {
  outline: none;
  transform: scale(0.95);
}

button:focus,
button:hover {
  outline: none;
  transform: translateY(-2px);
}
