@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");

:root {
  --font-clr: #111111;
  --font-family: "Courier Prime", "Courier New", Courier,
    "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  --form-btn-clr: #fff;
  --footer-fs: 1em;

  --header-fs: clamp(1.25rem, 0.6983rem + 2.7586vw, 2.25rem);
  --icon-bg-clr: transparent;
  --icon-bg-clr-active: rgb(174, 174, 174);
  --icon-clr: rgb(0, 0, 0);
  --icon-size: 1.2em;
  --input-bg-clr: #fff;
  --input-placeholder-clr: #848482;
  --light-bg: #fff;
  --line-clr: #3b3c36;
  --line-side-clr: #e60026;
  --line-offset: calc(
    50% - min(50% - 0.5em, 450px) + clamp(2rem, 1.4483rem + 2.7586vw, 3rem)
  );
  --main-fs: 1em;
  --summary-fs: clamp(1.375rem, 1.0302rem + 1.7241vw, 2rem);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-bg);
  color: var(--font-clr);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  margin: 0 auto;
  min-height: 100dvh;
  max-width: 900px;
  text-align: center;
}

body::before {
  background: #000;
  content: "";
  filter: url(#noiseFilter);
  height: 100%;
  inset: 0;
  opacity: 50%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

svg {
  position: absolute;
  z-index: 1;
}

.line-left,
.line-right {
  background-color: var(--line-side-clr);
  bottom: 0;
  position: fixed;
  top: 0;
  width: 1px;
  z-index: 1;
}

.line-left {
  left: var(--line-offset);
}

.line-right {
  right: var(--line-offset);
}

header {
  background: repeating-linear-gradient(
    transparent 0em,
    transparent 0.96em,
    var(--line-clr) 1em
  );
  font-size: var(--header-fs);
  line-height: 1.5em;
  margin-block: 0.6em;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

summary {
  cursor: pointer;
  font-size: var(--summary-fs);
}

summary:focus-visible {
  outline: none;
  text-decoration: underline;
}

details[open] summary {
  font-weight: bold;
}

details {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

details > * {
  display: block;
  margin-block: 0.8em;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding-block: 1em;
}

details a,
details a:focus {
  background: repeating-linear-gradient(
    transparent 0em,
    transparent 0.96em,
    var(--line-clr) 1em
  );
  color: var(--font-clr);
  font-size: var(--main-fs);
  font-style: italic;
  line-height: 1.5em;
  outline: none;
  text-decoration: none;
}

main a:focus,
main a:hover {
  font-style: normal;
  font-weight: bold;
}

footer a {
  color: var(--font-clr);
  text-decoration: none;
}

footer a:focus,
footer a:hover {
  font-weight: bold;
}

form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

@media (max-width: 410px) {
  form {
    flex-direction: column;
    gap: 0.3em;
  }
}

input {
  background-color: var(--input-bg-clr);
  border: 1px solid var(--font-clr);
  border-radius: 5px;
  color: var(--font-clr);
  font-family: inherit;
  font-size: var(--footer-fs);
  padding-block: 0.2em;
  text-align: center;
}

input::placeholder {
  color: var(--input-placeholder-clr);
}

input:focus {
  background-color: var(--input-bg-clr);
  border-color: var(--font-clr);
  color: var(--font-clr);
}

input:invalid {
  border-color: red;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

button {
  cursor: pointer;
}

.form-button {
  background-color: var(--font-clr);
  border: 1px solid var(--font-clr);
  border-radius: 5px;
  color: var(--form-btn-clr);
  font-family: inherit;
  padding-block: 0.3em;
  padding-inline: 0.6em;
}

.form-button:focus,
.form-button:hover {
  background-color: transparent;
  color: var(--font-clr);
  font-weight: bold;
}

.form-button:disabled {
  background-color: var(--input-placeholder-clr);
  color: var(--form-btn-clr);
  cursor: not-allowed;
}

.social-links {
  display: flex;
  gap: 1em;
  justify-content: center;
}

i {
  color: var(--font-clr);
  font-size: 1.2em;
}

.round-button {
  align-items: center;
  background: var(--light-bg);
  border: 1px solid var(--font-clr);
  border-radius: 100vmax;
  display: flex;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  width: calc(var(--icon-size) * 2);
}

.round-button:active {
  outline: none;
  transform: scale(0.95);
}

.round-button:focus,
.round-button:hover {
  outline: none;
  transform: translateY(-2px);
}
