:root {
  --icon-bg-clr: rgb(229, 229, 234);
  --icon-bg-clr-active: rgb(174, 174, 178);
  --icon-clr: rgb(58, 58, 60);
  --icon-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  --padding: clamp(0.25rem, -0.0357rem + 1.4286vw, 1.25rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.header-left {
  display: flex;
  gap: 1em;
}

i {
  color: var(--icon-clr);
  font-size: var(--icon-size);
}

a,
a:focus {
  outline: none;
  text-decoration: none;
}

button {
  align-items: center;
  background-color: var(--icon-bg-clr);
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  display: flex;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  transition: transform 0.15s ease;
  width: calc(var(--icon-size) * 2);
}

button:focus,
button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  outline: none;
  transform: translateY(-2px);
}

button:active {
  background-color: var(--icon-bg-clr-active);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  transform: scale(0.95);
}

img {
  border-radius: 100vmax;
  inset: 50%;
  max-width: 100%;
  max-height: 100%;
  padding: var(--padding);
  position: absolute;
  translate: -50% -50%;
}

.clockwise {
  animation: spinClockwise 61s linear infinite;
}

.anticlockwise {
  animation: spinAnticlockwise 61s linear infinite;
}

.clockwise,
.anticlockwise {
  animation-play-state: running;
}

@keyframes spinClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinAnticlockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
