@font-face {
  font-family: "Allura";
  font-weight: 400;
  src: local("Allura"),
    url("/fonts/Allura/allura-regular.woff2") format("woff2"),
    url("/fonts/Allura/allura-regular.woff") format("woff");
}

@font-face {
  font-family: "Chakra Petch";
  font-weight: 400;
  src: local("Chakra Petch"),
    url("/fonts/Chakra\ Petch/chakrapetch-regular.woff2") format("woff2"),
    url("/fonts/Chakra\ Petch/chakrapetch-regular.woff") format("woff");
}

@font-face {
  font-family: "Chakra Petch";
  font-weight: 700;
  src: local("Chakra Petch"),
    url("/fonts/Chakra\ Petch/chakrapetch-bold.woff2") format("woff2"),
    url("/fonts/Chakra\ Petch/chakrapetch-bold.woff") format("woff");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: 400;
  src: local("Inconsolata"),
    url("/fonts/Inconsolata/inconsolata-regular.woff2") format("woff2"),
    url("/fonts/Inconsolata/inconsolata-regular.woff") format("woff");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: 700;
  src: local("Inconsolata"),
    url("/fonts/Inconsolata/inconsolata-bold.woff2") format("woff2"),
    url("/fonts/Inconsolata/inconsolata-bold.woff") format("woff");
}

:root {
  --arrow-fs: clamp(2.5rem, 1.6071rem + 4.4643vw, 5.625rem);
  --bg-clr-light: #fff8e7;
  --bg-clr-dark: #171717;
  --enter-button-fs: clamp(1.875rem, 1.3393rem + 2.6786vw, 3.75rem);
  --gradient-light-clr: rgba(255, 215, 0, 0.8);
  --gradient-dark-clr: rgba(31, 31, 31, 0.8);
  --icon-clr: #f9f8f5;
  --icon-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  --input-fs: clamp(1rem, 0.4643rem + 2.6786vw, 2.875rem);
  --question-fs: clamp(1.375rem, 0.875rem + 2.5vw, 3.125rem);
  --quote-fs: clamp(1.625rem, 0.9821rem + 3.2143vw, 3.875rem);
  --shadow-clr: rgb(255, 215, 0);
  --text-clr: #f9f8f5;
  --time-fs: clamp(1.625rem, 0.7321rem + 4.4643vw, 4.75rem);
  --time-bigger-fs: clamp(2.125rem, 1.1964rem + 4.6429vw, 5.375rem);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-clr-light);
  color: var(--text-clr);
  display: grid;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100dvh;
  place-items: center;
  position: relative;
}

header {
  position: absolute;
  right: 1em;
  top: 1em;
}

footer {
  bottom: 1em;
  left: 1em;
  position: absolute;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Inconsolata";
  gap: clamp(1.25rem, 0.3571rem + 4.4643vw, 4.375rem);
  height: 100%;
  justify-content: center;
  width: 100%;
}

main,
dialog {
  animation: rotate-color 10s linear infinite;
  aspect-ratio: 1 / 1;
  background: radial-gradient(
    circle at 100px 100px,
    var(--gradient-light-clr),
    var(--gradient-dark-clr)
  );
  border: none;
  border-radius: 100vmax;
  box-shadow: 0 0 50px var(--shadow-clr);
  color: var(--text-clr);
  height: 92vmin;
  text-align: center;
  width: 92vmin;
}

dialog::backdrop {
  background-color: var(--bg-clr-dark);
}

main {
  align-items: center;
  background-color: var(--bg-clr-light);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (orientation: landscape) and (max-height: 700px) {
  main {
    justify-content: center;
  }
}

@keyframes rotate-color {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

/* ------ Paragraphs and inputs ------ */

p {
  margin: 0;
}

.question {
  filter: drop-shadow(0 0 50px var(--shadow-clr));
  font-family: "Inconsolata";
  font-size: var(--question-fs);
  line-height: 1.4;
}

input[type="datetime-local"] {
  background-color: transparent;
  border: 2px solid var(--text-clr);
  border-radius: 100vmax;
  box-shadow: 0 0 30px var(--shadow-clr);
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--input-fs);
  font-weight: bold;
  min-height: 2em;
  min-width: 10em;
  padding: 0.6rem;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.time {
  font-family: "Chakra Petch";
  font-size: var(--time-fs);
  line-height: 2;
  text-transform: capitalize;
  white-space: nowrap;
}

.time-bigger {
  font-size: var(--time-bigger-fs);
}

.quote {
  font-family: "Allura";
  font-size: var(--quote-fs);
  text-transform: none;
}

/* ------ Icons and buttons ------ */

i {
  color: var(--icon-clr);
  font-size: var(--icon-size);
}

a,
a:focus {
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-button {
  color: inherit;
  font-size: var(--arrow-fs);
  transition: transform 0.15s ease;
}

.arrow-button:focus,
.arrow-button:hover {
  outline: none;
  transform: scale(1.05);
}

.arrow-button:active {
  outline: none;
  transform: scale(0.95);
}

.enter-button {
  animation: blink 3s infinite;
  color: inherit;
  filter: drop-shadow(0 0 50px var(--shadow-clr));
  font-family: inherit;
  font-size: var(--enter-button-fs);
  font-weight: bold;
}

.enter-button:active,
.enter-button:hover {
  animation: none;
}

button:disabled {
  cursor: not-allowed;
  color: transparent;
  animation: none;
}

.round-button {
  align-items: center;
  animation: rotate-color 10s linear infinite;
  background: radial-gradient(
    circle at 100px 100px,
    var(--gradient-light-clr),
    var(--gradient-dark-clr)
  );
  border-radius: 100vmax;
  display: flex;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  transition: transform 0.15s ease;
  width: calc(var(--icon-size) * 2);
}

.round-button:focus,
.round-button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  outline: none;
  transform: translateY(-2px);
}

.round-button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  transform: scale(0.95);
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  80%,
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
