:root {
  --bg-clr: rgb(242, 242, 242);
  --icon-bg-clr: rgb(225, 225, 225);
  --icon-bg-clr-active: rgb(174, 174, 174);
  --icon-clr: rgb(58, 58, 58);
  --icon-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  --padding: clamp(0.75rem, -0.4643rem + 6.0714vw, 5rem);
}

.dark {
  --bg-clr: rgb(19, 19, 19);
  --icon-bg-clr: rgb(50, 50, 50);
  --icon-bg-clr-active: rgb(100, 100, 100);
  --icon-clr: rgb(225, 225, 225);
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

body {
  background-color: var(--bg-clr);
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100dvh;
  position: relative;
}

footer {
  display: flex;
  bottom: 1em;
  left: 1em;
  padding: 1em;
  position: absolute;
}

i {
  color: var(--icon-clr);
  font-size: var(--icon-size);
}

a,
a:focus {
  outline: none;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  display: flex;
}

.round-button {
  align-items: center;
  background-color: var(--icon-bg-clr);
  border-radius: 100vmax;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  transition: transform 0.15s ease;
  width: calc(var(--icon-size) * 2);
}

.round-button:active,
.round-button:focus {
  background-color: var(--icon-bg-clr-active);
  outline: none;
  transform: scale(0.95);
}

main > img {
  inset: 50%;
  max-height: 100%;
  max-width: 100%;
  padding: var(--padding);
  position: absolute;
  translate: -50% -50%;
}

#needle {
  animation: spinClockwise 1s linear infinite;
  animation-play-state: running;
}

@keyframes spinClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
