:root {
  --accent-clr-1: #00ff41;
  --accent-clr-2: #003b00;
  --accent-clr-3: #0d0208;
  --article-title-fs: clamp(1.125rem, 0.9821rem + 0.7143vw, 1.625rem);
  --article-paragraph-fs: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  --form-fs: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  --font-family: "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--accent-clr-3);
  font-family: var(--font-family);
  margin: 1em auto;
  min-height: 100dvh;
  width: min(100% - 1.6em, 900px);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  margin: 1em auto;
  padding: 1em;
  width: min(100% - 4em, 600px);
}

input {
  background-color: var(--accent-clr-3);
  border: 1px solid var(--accent-clr-1);
  border-radius: 100vmax;
  color: var(--accent-clr-1);
  flex: 1;
  font-family: inherit;
  font-size: var(--form-fs);
  padding-block: 0.5em;
  text-align: center;
}

input::placeholder {
  color: var(--accent-clr-1);
  opacity: 1;
  text-align: center;
}

input:focus {
  background-color: var(--accent-clr-2);
  border-color: var(--accent-clr-1);
  color: var(--accent-clr-1);
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: var(--accent-clr-1);
}

button {
  background-color: var(--accent-clr-1);
  border: 1px solid var(--accent-clr-1);
  border-radius: 100vmax;
  color: var(--accent-clr-2);
  cursor: pointer;
  flex: 1;
  font-family: inherit;
  font-size: var(--form-fs);
  padding-block: 0.5em;
}

button:hover,
button:focus {
  background-color: var(--accent-clr-2);
  color: var(--accent-clr-1);
}

button:disabled {
  background-color: var(--accent-clr-2);
  color: var(--accent-clr-1);
  cursor: not-allowed;
}

article {
  border: 3px solid var(--accent-clr-2);
  border-radius: 20px;
  color: var(--accent-clr-1);
  margin-bottom: 1.2em;
  padding: 1.4em;
}

article:hover,
article:focus {
  background-color: var(--accent-clr-2);
  border-color: var(--accent-clr-1);
}

article a {
  color: inherit;
}

article a:hover,
article a:focus {
  font-weight: bold;
}

article:last-of-type {
  margin-bottom: 6em;
}

h1,
p {
  margin: 0;
}

h1 {
  font-size: var(--article-title-fs);
  padding-bottom: 0.6em;
}

p {
  font-size: var(--article-paragraph-fs);
  line-height: 1.3;
}

footer {
  background-color: var(--accent-clr-3);
  bottom: 0;
  font-size: var(--article-title-fs);
  padding: 1em;
  position: fixed;
  width: 100%;
}

footer a {
  align-items: center;
  background-color: var(--accent-clr-2);
  border-radius: 100vmax;
  color: var(--accent-clr-1);
  display: inline-flex;
  font-size: var(--article-title-fs);
  font-weight: bold;
  justify-content: center;
  height: 1.6em;
  text-decoration: none;
  width: 3.2em;
}

footer a:hover,
footer a:focus {
  background-color: var(--accent-clr-1);
  color: var(--accent-clr-2);
}
