:root {
  --accent-clr-1: #00ff41;
  --accent-clr-2: #003b00;
  --accent-clr-3: #0d0208;
  --article-title-fs: clamp(1.125rem, 0.9821rem + 0.7143vw, 1.625rem);
  --article-paragraph-fs: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  --form-fs: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  --font-family: "Courier New", monospace;
  --icon-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--accent-clr-3);
  font-family: var(--font-family);
  margin: 1em auto;
  min-height: 100dvh;
  width: min(100% - 1.6em, 900px);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  margin: 1em auto;
  padding: 1em;
  width: min(100% - 4em, 600px);
}

input {
  background-color: var(--accent-clr-3);
  border: 1px solid var(--accent-clr-1);
  border-radius: 100vmax;
  color: var(--accent-clr-1);
  flex: 1;
  font-family: inherit;
  font-size: var(--form-fs);
  padding-block: 0.5em;
  text-align: center;
}

input::placeholder {
  color: var(--accent-clr-1);
  opacity: 1;
  text-align: center;
}

input:focus {
  background-color: var(--accent-clr-2);
  border-color: var(--accent-clr-1);
  color: var(--accent-clr-1);
  outline: none;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: var(--accent-clr-1);
}

button {
  cursor: pointer;
}

.form-button {
  background-color: var(--accent-clr-2);
  border: 1px solid var(--accent-clr-1);
  border-radius: 100vmax;
  box-shadow: inset 0 0 0.25em 0 var(--accent-clr-1),
    0 0 0.75em 0 var(--accent-clr-1);
  color: var(--accent-clr-1);
  flex: 1;
  font-family: inherit;
  font-size: var(--form-fs);
  padding-block: 0.5em;
  position: relative;
  text-shadow: 0 0 0.125em #fff, 0 0 0.25em var(--accent-clr-1);
  transition: background-color 100ms linear;
}

/* Glowing reflection effect
.form-button::before {
  background: var(--accent-clr-1);
  content: "";
  filter: blur(1em);
  height: 100%;
  left: 0;
  opacity: 0.7;
  pointer-events: none;
  position: absolute;
  top: 120%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  width: 100%;
}

.form-button:hover::before, 
.form-button:focus::before {
  opacity: 1;
}
*/

.form-button::after {
  border-radius: inherit;
  bottom: 0;
  box-shadow: 0 0 1em 0 var(--accent-clr-1);
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 100ms linear;
}

.form-button:hover,
.form-button:focus {
  background-color: var(--accent-clr-1);
  color: var(--accent-clr-2);
  outline: none;
  text-shadow: none;
}

.form-button:hover::after,
.form-button:focus::after {
  opacity: 1;
}

.form-button:disabled {
  background-color: var(--accent-clr-2);
  color: var(--accent-clr-1);
  cursor: not-allowed;
}

article {
  border: 3px solid var(--accent-clr-2);
  border-radius: 20px;
  color: var(--accent-clr-1);
  margin-bottom: 1.2em;
  padding: 1.4em;
}

article:hover,
article:focus {
  background-color: var(--accent-clr-2);
  border-color: var(--accent-clr-1);
}

article a {
  color: inherit;
}

article a:hover,
article a:focus {
  font-weight: bold;
  outline: none;
}

article:last-of-type {
  margin-bottom: 6em;
}

h1,
p {
  margin: 0;
}

h1 {
  font-size: var(--article-title-fs);
  padding-bottom: 0.6em;
}

p {
  font-size: var(--article-paragraph-fs);
  line-height: 1.3;
}

footer {
  background-color: var(--accent-clr-3);
  bottom: 0;
  padding: 1em;
  position: fixed;
  width: 100%;
}

i {
  color: var(--accent-clr-1);
  font-size: var(--icon-size);
}

footer a,
footer a:focus {
  outline: none;
  text-decoration: none;
}

.round-button {
  align-items: center;
  animation: rotate-color 10s linear infinite;
  background: var(--accent-clr-2);
  border: none;
  border-radius: 100vmax;
  display: flex;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  transition: transform 0.15s ease;
  width: calc(var(--icon-size) * 2);
}

.round-button:active,
.round-button:focus {
  outline: none;
  transform: scale(0.95);
}
