@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Silkscreen");
@import url("https://fonts.googleapis.com/css?family=Barriecito");

:root {
  --bg-clr: #00b4d8;
  --btn-box-shadow: rgba(3, 4, 94, 0.1);
  --dropdown-menu-border-clr: #0096c7;
  --dropdown-menu-bg-clr: #ade8f4;
  --dropdown-menu-item-clr: #03045e;
  --dropdown-menu-item-fs: clamp(1.125rem, 0.9464rem + 0.8929vw, 1.75rem);
  --icon-bg-clr: #90e0ef;
  --icon-bg-clr-active: #ade8f4;
  --icon-clr: #03045e;
  --icon-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  --text-clr: #03045e;
  --text-ff: "Silkscreen";
  --text-size: 25vh;
}

.dark {
  --bg-clr: #03045e;
  --btn-box-shadow: rgba(144, 224, 239, 0.15);
  --dropdown-menu-border-clr: #48cae4;
  --dropdown-menu-bg-clr: #023e8a;
  --dropdown-menu-item-clr: #caf0f8;
  --icon-bg-clr: #0096c7;
  --icon-bg-clr-active: #0077b6;
  --icon-clr: #ade8f4;
  --text-clr: #00b4d8;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-clr);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  position: relative;
}

header,
footer {
  display: flex;
  padding: 1em;
}

header {
  justify-content: end;
  position: relative;
}

i {
  color: var(--icon-clr);
  font-size: var(--icon-size);
}

a,
a:focus {
  outline: none;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  display: flex;
}

.round-button {
  align-items: center;
  background-color: var(--icon-bg-clr);
  border-radius: 100vmax;
  height: calc(var(--icon-size) * 2);
  justify-content: center;
  transition: transform 0.15s ease;
  width: calc(var(--icon-size) * 2);
}

.round-button:focus,
.round-button:hover {
  box-shadow: 0 5px 10px var(--btn-box-shadow);
  outline: none;
  transform: translateY(-2px);
}

.round-button:active {
  background-color: var(--icon-bg-clr-active);
  box-shadow: 0 1px 3px var(--btn-box-shadow);
  outline: none;
  transform: scale(0.95);
}

.dropdown-menu {
  background-color: var(--dropdown-menu-bg-clr);
  border-radius: 12px;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.3),
    0 0 25px -15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Display",
    "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 1em;
  top: 100%;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdown-menu.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  z-index: 10;
}

.menu-item {
  background-color: transparent;
  color: var(--dropdown-menu-item-clr);
  font-size: var(--dropdown-menu-item-fs);
  padding: 0.8em 2.6em 0.8em 0.8em;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid var(--dropdown-menu-border-clr);
}

main {
  align-items: center;
  color: var(--text-clr);
  display: flex;
  flex: 1;
  font-family: var(--text-ff);
  font-size: var(--text-size);
  justify-content: center;
  overflow: hidden;
}

.wave-text {
  animation: slide 10s linear infinite;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
}

.wave-letter {
  display: inline-block;
  animation: wave 3s ease-in-out infinite;
}

@keyframes slide {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-110%);
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7vh);
  }
}

#wave-wrapper {
  position: absolute;
  width: 100vmax;
  height: 100vmax;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.wave-01,
.wave-02,
.wave-03 {
  position: absolute;
  width: 300%;
  height: 300%;
  left: -100%;
  top: 50%;
  border-radius: 45%;
  animation: rotate 20s linear infinite;
  z-index: 0;
}

.wave-02 {
  top: 57%;
  border-radius: 43%;
  animation-duration: 14s;
}

.wave-03 {
  top: 60%;
  border-radius: 40%;
  animation-duration: 10s;
}

.wave-01 {
  background-color: rgba(0, 190, 255, 0.4);
}

.wave-02 {
  background-color: rgba(0, 70, 110, 0.4);
}

.wave-03 {
  background-color: rgba(0, 90, 110, 0.4);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
